# 通用
BASE_DIR=/data1
CONTAINER_NAME=github-action-test
NETWORK_NAME=iam_app-network
LOG_DIR=${BASE_DIR}/logs/${CONTAINER_NAME}

# 前端
# API 配置
VITE_API_BASE_URL=https://www.sdqlah.com/api
VITE_API_TIMEOUT=10000
VITE_API_CONTENT_TYPE=application/json
# 认证配置
VITE_AUTH_SOURCE=${CONTAINER_NAME}
VITE_AUTH_TOKEN_KEY=${CONTAINER_NAME}_token
# 路由配置
VITE_APP_BASE_URL='./'
# 服务器配置
VITE_SERVER_PORT=5177
VITE_SERVER_HOST=localhost
VITE_SERVER_OPEN=true

#后端
DB_HOST=iam_postgres_db
DB_PORT=5432
DB_NAME=digital_asset
DB_USER=root
DB_PASSWORD=xxxx
REDIS_HOST=iam_redis_cache
REDIS_PORT=6379